version: 2

updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "daily"
      time: "03:00"
      timezone: "UTC"

    open-pull-requests-limit: 10

    labels:
      - "dependencies"
      - "security"

    commit-message:
      prefix: "security"

    rebase-strategy: "auto" 
